.categories {
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}
.text-popular{
    height: 25%;
    width: 100%;
}

.text-popular p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 1%;}
    
.wrap-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    gap: 2%;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 8%;
}

.category img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}


.border-category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4B3EC4;
    width: 100%;
    height: 90%;
    border-radius: 50%;
}