.wrap-product{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-find{
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    height: 40px;
}

.wrap-find{
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 2%;
}

.text-find p{
    font-size: 1.2rem;
    font-weight: 600;}

.name-find{
    background-color: #4B3EC4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
}

.wrap-card-product{
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 198px);
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
  .wrap-card-product {
    grid-template-columns: repeat(auto-fill, 108px);
    margin: 0;
  }
}
