.card-product{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1.8;
    margin: 5px;
    border-radius: 8px;
    border: #4B3EC4 solid 2px;
}

.wrap-image-product{
    border-radius: 8px;
    position: relative;
    height: 60%;
    width: 100%;
}

.wrap-image-product img{
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.like-product{
 position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  background: none;    
  border: none;   
  color: #aaa5a5;    
  padding: 0;          
  outline: none;       
  transition: transform 0.2s ease, color 0.2s ease; 
}
.name-product{
    height: 9%;
    font-size: 20px;
}

.price-product{
    height: 9%;
    font-size: 20px;
    color: #4B3EC4;
    font-weight: bold;
}

.rating-product{
    height: 6%;
    font-size: 12px;
    justify-items: center;
}

.info-product{
    height: 8%;
}

.name-shop{
    height: 8%;
}

