.login{
    background-color:#4B3EC4 ;
    margin-top: 5vh;
    width: 45%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.login:hover{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.849);
    transition: 0.3s;}
.login-input{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 30px;
}

.login h1{
    color: #ffffff;
    margin-bottom: 20px;
}

.login > p{
    color: #ffffff;
    margin-top: 20px;
}

.login button{
    background-color: #ffffff;
    color: #4B3EC4 ;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4B3EC4;
    font-size: 16px;
}

.login-google a{
    font-weight: bold;
    text-decoration: none;
}

.login-google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff;
    color: #4B3EC4 ;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    width: 60%;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
